h1 {
  color:purple;
  font-family: 'Sacramento', cursive;
}
h3{
  color:green;
}
#education{
  color:red;
}
.hobbies{
  font-size: 48px;
}
.skills{
  color:yellow;
}
.righttable {
  border: 1px solid black;
  border-radius: 6px;
}
.lily {
  border: 1px solid green;
  border-radius: 50%;
}
.everything {
  border: 1px solid purple;
  display: flex;
}
.main {
  border: 2px solid blue;
  flex-grow: 1;
}
.moreinfo {
  border: 1px solid grey;
  width: 150px;
}